---
import { Font } from 'astro:assets'
import ViewImage from '../assets/images/view.png'

const {
  title = 'MailFang',
  description = 'MailFang is your new email testing tool',
} = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<Font
  cssVariable="--font-roboto"
  preload={[
    { subset: 'latin', style: 'normal' },
    { subset: 'latin-ext', style: 'normal' },
  ]}
/>

<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mailfang.com" />
<meta property="og:description" content={description} />
<meta property="og:image" content={ViewImage.src} />
<meta property="og:image:alt" content="" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MailFang" />
<link rel="manifest" href="/site.webmanifest" />
